*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: rgb(4, 126, 166);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 0px 0px 25px 5px rgb(30, 30, 30);
  display: flex;
  padding: 100px 150px;
  border-radius: 50px;
}

#left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

#left > h1 {
  font-size: 80pt;
  font-weight: 900;
  color: rgb(60, 60, 222);
  padding: 0;
  margin: 0;
}

#left > p {
  font-weight: bold;
  font-size: 40pt;
  padding: 0;
  margin: 0;
}

#left > a {
  position: relative;
  font-size: 30pt;
  padding: 10px 50px;
  background-color: transparent;
  border: 2px solid rgb(75, 114, 255);
  color: rgb(75, 114, 255);
  border-radius: 50px;
  transition: 200ms;
  text-decoration: none;
  margin-top: 20px;
}

#left > a:hover {
  background-color: rgb(75, 114, 255);
  color: white;
  transition: 200ms;
}

#left > img {
  position: absolute;
  right: 450px;
  transform: scale(1.2) rotate(5deg);
}

@keyframes peek {
  from {
    right: 700px;
  }
  10% {
    transform: translate(0px, -300px);
  }
  12% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(750px) rotate(20deg);
  }
  52% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(-750px) rotate(-20deg);
  }
  77% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    right: 700px;
  }
}

#peeker {
  position: absolute;
  z-index: -1;
  animation: peek 35s infinite;
}
